* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: #fff;
  line-height: 1.6;
}

/* header content */
.wrapper {
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(67, 56, 120, 0.8),
      rgba(228, 177, 240, 0.8)
    ),
    url("/images/background.jpg");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 100px;
}

.header .header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header .header-right i {
  margin-right: 5px;
}

.header .header-right a {
  color: #fff;
}

.header .header-right a:hover {
  color: lightblue;
}

/* Main content */
.main-content {
  display: flex;
  max-width: 1150px;
  margin: 200px auto;
  justify-content: center;
  align-items: start;
  gap: 50px;
  height: 100%;
  padding: 0 40px;
}

.main-content form {
  flex: 1;
}

.main-content .text-container {
  flex: 1;
}

/* Form */

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.form-group textarea {
  height: 100px;
  resize: none;
  margin-bottom: 10px;
}

/*Submit Button */

.btn {
  display: block;
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  border: 0;
  background: purple;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(199, 38, 235, 0.8);
}

.text-container h1 {
  font-size: 50px;
  margin: 50px 0 20px;
  line-height: 1.2;
}

.text-container p {
  font-size: 16px;
}
